@font-face {
    font-family: 'SF Pro Display';
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.eot');
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.woff2') format('woff2'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.woff') format('woff'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.ttf') format('truetype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.otf') format('opentype'),'
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/normal/sfpro.svg') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.eot');
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.woff2') format('woff2'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.woff') format('woff'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.ttf') format('truetype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.otf') format('opentype'),'
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/italic/sfpro.svg') format('svg');
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.eot');
    src: url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.eot?#iefix') format('embedded-opentype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.woff2') format('woff2'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.woff') format('woff'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.ttf') format('truetype'),
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.otf') format('opentype'),'
         url('https://github.com/ValorKand/SanFrancisco-Font/raw/main/font/bold/sfpro.svg') format('svg');
    font-style: bold;
}
